.edit_article {
    width: 30%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    background-color:aliceblue;
    box-shadow: 5px 5px 5px 5px #00000033;
    text-align: center;
}



.edit_article_title input {
    max-width: 100%; 
    width: 800px; 
    height: 30px;
    resize: vertical;
}
.edit_article_content input {
    max-width: 100%; 
    width: 800px; 
    height: 400px;
    resize: vertical;
}
.edit_article_title, .edit_article_content label {
    font-weight: bold;
    font-size: 20px;
    color: darkred;
}



.edit_article_buttons input {
    border-radius: 7px;
    background-color: rgb(20, 111, 43);
    color: white;
}
.edit_article_buttons a {
    text-decoration: none;
    padding: 3px;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 13px;
}
.article_remove {
    border-radius: 7px;
    background-color:darkred;
    color: white;
}