.new_article {
    width: 30%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    background-color:aliceblue;
    box-shadow: 5px 5px 5px 5px #00000033;
    text-align: center;
}



.new_article_title input {
    max-width: 100%; 
    width: 800px; 
    height: 30px;
    resize: vertical;
}
.new_article_content textarea {
    max-width: 100%; 
    width: 800px; 
    height: 400px;
    resize: vertical;
}
.new_article_title, .new_article_content label {
    font-weight: bold;
    font-size: 20px;
    color: darkred;
}



.new_article_buttons input {
    border-radius: 7px;
    background-color: rgb(20, 111, 43);
    color: white;
}
.new_article_buttons #article_avatar {
    background-color:grey;
}
.new_article_buttons a {
    text-decoration: none;
    padding: 3px;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 13px;
}


