<div class="container_comment m-auto">
  <div class="author_comment fw-bold fs-6 ms-2 text-primary">
    <%= comment.author_name %>
  </div>

  <div class="body_comment">
    <%= comment.body %> <br><br>
  </div>

  <div class="submit_comment d-flex justify-content-between">
    <% if comment.created_at.present? %>
        <p class="comment-date">Comment Date: <%= comment.created_at.strftime('%H:%M %d-%m-%Y ') %></p>
    <% end %> 
    <%= button_to "Delete Comment", [comment.article, comment], method: :delete, class:"btn btn-danger rounded-pill"%>
  </div>
</div><br>


