<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-md-4">
      <div class="card mb-4 bg-dark">
      <%= content_tag :h5, article.title, class: "card-img-overlay text-start text-white fw-bold btn fs-4" %>
        <% if article.avatar.present? %> <%= image_tag article.avatar, class: "card-img rounded" %>
        <% else %> <p class="card-text text-white pt-5"><%= article.content.truncate(150) %></p>
        <% end %>
      <% if current_user&.has_any_role?(:admin, :editor) %>
      <%= link_to 'Makaleyi Aktifleştir', activate_article_path(article), method: :put, class: 'btn btn-success' %>
      <% end %>
      </div>
    </div>
    <% end %>
</div>