<div class="show_article">

    <div class="show_title">
      <h2><%= @article.title %></h2>
    </div>

    <div class="show_body">
      <p><%= @article.content %></p>
    </div>

    <div class="show_footer">
    <%= link_to 'Geri Dön', articles_path, class: "show_back"%>
    <%= link_to 'Düzenle', edit_article_path, class: "show_edit"%>
    </div>
  
  </div>