.table {
    margin: 0 auto; /* Tabloyu ortala */
    border: 1px solid #ccc; /* Sınır ekle */
    padding: 10px; /* Boşluk ekle */
    max-width: 600px; /* İstediğiniz genişliği ayarlayın */
    font-size: 25px;
  }

  .table table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  .table a {
    text-decoration: none; /* Link alt çizgisini kaldır */
    color: #333; /* Link rengi */
  }

  .table a:hover {
    text-decoration: underline; /* Link üzerine gelince alt çizgi ekle */
  }